foregroundColor = #A9ABB0
backgroundColor = #272B32
bodyBackgroundColor = #171C27
borderRadius = 10px
borderColor = #676E7E
hoverColor = #DDDDDD

absolute(x, y)
	position absolute
	top y
	left x

fixed(x, y)
	position fixed
	top y
	left x

relative(x, y)
	position relative
	top y
	left x

flex(dir)
	display flex
	flex-direction dir

flexGrow()
	flex-grow 1
	flex-shrink 0

flexGrowX(x)
	flex-grow x
	flex-shrink 0

flexNone()
	flex-grow 0
	flex-shrink 0

flexShrink()
	flex-grow 0
	flex-shrink 1

flexWrap()
	flex-wrap wrap

invisible()
	opacity 0
	visibility hidden

point()
	cursor pointer

body
	color foregroundColor
	background-color bodyBackgroundColor
	margin 0
	font-family -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	user-select none

h1, h2, h3, h4, h5, h6
	margin 0

input, textarea, button, select, option
	border 0 none
	color foregroundColor
	background-color backgroundColor

button
	cursor pointer
	padding 5px 10px
	border-radius borderRadius

hr
	border-color foregroundColor
	
	&.noBorder
		border 0 none

.column
	flex(column)

.row
	flex(row)

.noMargin
	margin 0

.app
	margin-bottom 0
	margin-left 5%
	margin-right 5%
	text-align center
	
	& hr
		width 90vw
		margin 10px auto
		
		&.thin
			margin 5px auto
	
	& .user
		border 1px solid borderColor

//@require "./test.styl"
