.app

	& .dialog
		border(1px)
		flex(column)
		align-items center
		background-color backgroundColor
		height 130px
		justify-content center
		position: fixed;
		width 250px
		z-index 1000
		
		& > *
			margin 5px 0
		
		& .body
			text-align center
		
		& > .row > *
			margin 0 5px
