.app

	& .manageUsers
		
		& .heading
			flexShrink(1)
		
		& .userList
			flexGrow(1)
			align-items center
			
			& .user
				margin 5px
			
			& .deleteUser
				cursor pointer
	
	& .modifyUser
		
		& > *
			margin 5px 0
